@charset 'UTF-8';
*{
    margin: 0;
    padding: 0;
}
.corSecundaria {
    background-color: rgba(161, 11, 0, 0.575);
    padding: 2px;
    
}
.corSecundaria h1 {
    font-size: 1.3em;
    margin-top: 10px;
}
main {
    background-color: rgba(255, 255, 255, 0.171);
    margin: auto;
    min-width: 200px;
    max-width: 700px;
    
}
main h1{
    text-align: center;
}
main p{
    font-size: 1.7em;
    padding: 10px;
    
}
main img {
    width: 100%;
    padding: 10px;
    
}
.descricao p {
    font-size: .9em;
    text-align: center;

}
.conteudo p {
    font-size: 1.7em;
    padding: 10px;
    
}
